
@model FaleMais.MVC.ViewModels.TarifaViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>formulário de resposta: RsvpForm</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {

        <p>
            Você vai vir na festa ?
         
            @Html.DropDownListFor(m => m.Origem, null)
        </p>
            <input type="submit" value="Submeter Resposta" />
        }
    </div>
</body>
</html>